body {
  background-color: #434547;
}


h1 {
  color: #fafafa;
  font-family: 'Bungee';font-size: 44px;
}


p {
  color: #fafafa;
  font-family: 'Bungee';font-size: 25px;
}


a {
  color: #fafafa;
  font-family: 'Bungee';font-size: 25px;
}


a:hover{
  color: #C0C0C0;
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: inherit;
}


.grid-container > div {
  text-align: center;
  background-color: inherit;
}


.header {
  border: 5px solid;
  border-color: #C0C0C0;
  grid-column-start: 2;
  grid-column-end: 3;
}


.text {
  border: 5px solid;
  border-top: 0px;
  border-color: #C0C0C0;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 6;
}


.choices {
  border: 5px solid;
  border-top: 0px;
  border-color: #C0C0C0;
  grid-row-start: 6;
  grid-column-start: 2
}
